# Automate How I Collect Data Into A CSV

*Where is the data from?*

**Cases**: https://github.com/nytimes/covid-19-data/tree/master/rolling-averages 
> Raw Files: 
https://raw.githubusercontent.com/nytimes/covid-19-data/master/rolling-averages/us-counties-2020.csv
https://raw.githubusercontent.com/nytimes/covid-19-data/master/rolling-averages/us-counties-2021.csv
https://raw.githubusercontent.com/nytimes/covid-19-data/master/rolling-averages/us-counties-2022.csv

**Vaccines**: https://data.cdc.gov/Vaccinations/COVID-19-Vaccinations-in-the-United-States-County/8xkx-amqh 

**Delta Prevalence**: https://covid.cdc.gov/covid-data-tracker/#variant-proportions 


> Cases CSV Name: us-counties-2020.csv, us-counties-2021.csv, us-counties-2022.csv

> Vaccinations CSV NAME: COVID-19_Vaccinations_in_the_United_States_County.csv

In [1]:
#below are the packages I will be using
import pandas as pd 
from datetime import datetime, timedelta
from datetime import date
import numpy as np

# Path Variables
The default path is the GitHub descon-uccs/pandemic-data repository

In [4]:
#vaccine data file path
vaccineFilepath = '../Data/Jupyter Notebook Input/COVID-19_Vaccinations_in_the_United_States_County.csv'

#delta prevalence data file path
deltaPrevalenceFilepath = '../Data/Jupyter Notebook Input/RegionsDashboard.csv'

# Build Cases Dataframe

In [2]:
col_list1 = ["date", "geoid", "county", "state", "cases_avg"]
data1_cases = pd.read_csv(r'https://raw.githubusercontent.com/nytimes/covid-19-data/master/rolling-averages/us-counties-2020.csv', usecols=col_list1)

#this changes the date column to timestamp values
data1_cases['date'] = pd.to_datetime(data1_cases['date'])

data1_cases.insert(5, 'fips', data1_cases['geoid'].astype(str).str[4:])
data1_cases['fips'] = data1_cases['fips'].astype('int')
data1_cases = data1_cases.drop(columns='geoid')
data1_cases

             date      county                     state  cases_avg   fips
0      2020-01-21   Snohomish                Washington       0.14  53061
1      2020-01-22   Snohomish                Washington       0.14  53061
2      2020-01-23   Snohomish                Washington       0.14  53061
3      2020-01-24   Snohomish                Washington       0.14  53061
4      2020-01-24        Cook                  Illinois       0.14  17031
...           ...         ...                       ...        ...    ...
889993 2020-12-31      Saipan  Northern Mariana Islands       0.88  69110
889994 2020-12-31     Unknown            Virgin Islands       0.00  78999
889995 2020-12-31  St. Thomas            Virgin Islands       3.71  78030
889996 2020-12-31    St. John            Virgin Islands       1.00  78020
889997 2020-12-31   St. Croix            Virgin Islands       4.29  78010

[889998 rows x 5 columns]

In [3]:
data2_cases = pd.read_csv(r'https://raw.githubusercontent.com/nytimes/covid-19-data/master/rolling-averages/us-counties-2021.csv', usecols=col_list1)

#this changes the date column to timestamp values
data2_cases['date'] = pd.to_datetime(data2_cases['date'])

data2_cases.insert(5, 'fips', data2_cases['geoid'].astype(str).str[4:])
data2_cases['fips'] = data2_cases['fips'].astype('int')
data2_cases = data2_cases.drop(columns='geoid')
data2_cases

              date      county                     state  cases_avg   fips
0       2021-01-01     Unknown               Puerto Rico      35.29  72999
1       2021-01-01       Yauco               Puerto Rico       3.00  72153
2       2021-01-01     Yabucoa               Puerto Rico       7.29  72151
3       2021-01-01    Villalba               Puerto Rico       2.43  72149
4       2021-01-01     Vieques               Puerto Rico       1.00  72147
...            ...         ...                       ...        ...    ...
1191852 2021-12-31      Saipan  Northern Mariana Islands      70.33  69110
1191853 2021-12-31     Unknown            Virgin Islands       0.00  78999
1191854 2021-12-31  St. Thomas            Virgin Islands      79.25  78030
1191855 2021-12-31    St. John            Virgin Islands       2.40  78020
1191856 2021-12-31   St. Croix            Virgin Islands      79.25  78010

[1191857 rows x 5 columns]

In [4]:
data3_cases = pd.read_csv(r'https://raw.githubusercontent.com/nytimes/covid-19-data/master/rolling-averages/us-counties-2022.csv', usecols=col_list1)

#this changes the date column to timestamp values
data3_cases['date'] = pd.to_datetime(data3_cases['date'])

data3_cases.insert(5, 'fips', data3_cases['geoid'].astype(str).str[4:])
data3_cases['fips'] = data3_cases['fips'].astype('int')
data3_cases = data3_cases.drop(columns='geoid')
data3_cases

             date      county                     state  cases_avg   fips
0      2022-01-01     Unknown               Puerto Rico     328.14  72999
1      2022-01-01       Yauco               Puerto Rico      66.50  72153
2      2022-01-01     Yabucoa               Puerto Rico      63.13  72151
3      2022-01-01    Villalba               Puerto Rico      47.50  72149
4      2022-01-01     Vieques               Puerto Rico       7.63  72147
...           ...         ...                       ...        ...    ...
887307 2022-09-29        Rota  Northern Mariana Islands       0.00  69100
887308 2022-09-29     Unknown            Virgin Islands       8.71  78999
887309 2022-09-29  St. Thomas            Virgin Islands       4.13  78030
887310 2022-09-29    St. John            Virgin Islands       0.29  78020
887311 2022-09-29   St. Croix            Virgin Islands       8.00  78010

[887312 rows x 5 columns]

In [5]:
test = pd.concat([data1_cases, data2_cases, data3_cases], axis=0)
test

             date      county                     state  cases_avg   fips
0      2020-01-21   Snohomish                Washington       0.14  53061
1      2020-01-22   Snohomish                Washington       0.14  53061
2      2020-01-23   Snohomish                Washington       0.14  53061
3      2020-01-24   Snohomish                Washington       0.14  53061
4      2020-01-24        Cook                  Illinois       0.14  17031
...           ...         ...                       ...        ...    ...
887307 2022-09-29        Rota  Northern Mariana Islands       0.00  69100
887308 2022-09-29     Unknown            Virgin Islands       8.71  78999
887309 2022-09-29  St. Thomas            Virgin Islands       4.13  78030
887310 2022-09-29    St. John            Virgin Islands       0.29  78020
887311 2022-09-29   St. Croix            Virgin Islands       8.00  78010

[2969167 rows x 5 columns]

In [6]:
test[(test['fips'] == 56045) & (test['date'] == '2021-04-11')]

             date  county    state  cases_avg   fips
326679 2021-04-11  Weston  Wyoming       0.75  56045

In [7]:
#below I merge the three cases dataframes into 1
data1_cases = pd.concat([data1_cases, data2_cases, data3_cases], axis=0)
data1_cases.rename(columns = {'cases_avg': 'cases'}, inplace = True)
data1_cases

             date      county                     state  cases   fips
0      2020-01-21   Snohomish                Washington   0.14  53061
1      2020-01-22   Snohomish                Washington   0.14  53061
2      2020-01-23   Snohomish                Washington   0.14  53061
3      2020-01-24   Snohomish                Washington   0.14  53061
4      2020-01-24        Cook                  Illinois   0.14  17031
...           ...         ...                       ...    ...    ...
887307 2022-09-29        Rota  Northern Mariana Islands   0.00  69100
887308 2022-09-29     Unknown            Virgin Islands   8.71  78999
887309 2022-09-29  St. Thomas            Virgin Islands   4.13  78030
887310 2022-09-29    St. John            Virgin Islands   0.29  78020
887311 2022-09-29   St. Croix            Virgin Islands   8.00  78010

[2969167 rows x 5 columns]

In [8]:
#data2_cases[data2_cases['fips'] == 56045][90:110]
#finaldf[(finaldf["state"] == 'New Jersey') & (finaldf["county"] == 'Warren')]
data1_cases[(data1_cases['fips'] == 56045) & (data1_cases['date'] == '2021-04-11')]

             date  county    state  cases   fips
326679 2021-04-11  Weston  Wyoming   0.75  56045

## Final Dataframe for cases

In [9]:
unwanted_county = ['Unknown']
#temp_paper_df = finaldf[~finaldf['date'].isin(unwanted_dates)]
data1 = data1_cases[~data1_cases['county'].isin(unwanted_county)]
data1

#below I sort by fips code, then the dates are sorted, below is the final df for cases 
df1 = data1.sort_values(['fips', 'date'], ignore_index = True)
df1 = df1[['date', 'state', 'county', 'cases', 'fips']]
df1

              date           state      county  cases   fips
0       2020-03-24         Alabama     Autauga   0.14   1001
1       2020-03-25         Alabama     Autauga   0.57   1001
2       2020-03-26         Alabama     Autauga   0.86   1001
3       2020-03-27         Alabama     Autauga   0.86   1001
4       2020-03-28         Alabama     Autauga   0.86   1001
...            ...             ...         ...    ...    ...
2929347 2022-09-25  Virgin Islands  St. Thomas   3.29  78030
2929348 2022-09-26  Virgin Islands  St. Thomas   3.29  78030
2929349 2022-09-27  Virgin Islands  St. Thomas   4.13  78030
2929350 2022-09-28  Virgin Islands  St. Thomas   4.13  78030
2929351 2022-09-29  Virgin Islands  St. Thomas   4.13  78030

[2929352 rows x 5 columns]

In [10]:
data1[(data1['fips'] == 56045) & (data1['date'] == '2021-04-11')]

             date  county    state  cases   fips
326679 2021-04-11  Weston  Wyoming   0.75  56045

In [11]:
df1[df1['fips'] == 36998]

              date     state         county    cases   fips
1715725 2020-03-01  New York  New York City     0.14  36998
1715726 2020-03-02  New York  New York City     0.14  36998
1715727 2020-03-03  New York  New York City     0.29  36998
1715728 2020-03-04  New York  New York City     0.29  36998
1715729 2020-03-05  New York  New York City     0.57  36998
...            ...       ...            ...      ...    ...
1716663 2022-09-25  New York  New York City  2283.86  36998
1716664 2022-09-26  New York  New York City  2199.71  36998
1716665 2022-09-27  New York  New York City  2168.00  36998
1716666 2022-09-28  New York  New York City  2136.86  36998
1716667 2022-09-29  New York  New York City  2080.29  36998

[943 rows x 5 columns]

In [12]:
df1[df1['fips'] == 69100]

              date                     state county  cases   fips
2856315 2022-01-20  Northern Mariana Islands   Rota   1.14  69100
2856316 2022-01-21  Northern Mariana Islands   Rota   1.14  69100
2856317 2022-01-22  Northern Mariana Islands   Rota   1.14  69100
2856318 2022-01-23  Northern Mariana Islands   Rota   1.14  69100
2856319 2022-01-24  Northern Mariana Islands   Rota   1.14  69100
...            ...                       ...    ...    ...    ...
2856563 2022-09-25  Northern Mariana Islands   Rota   0.00  69100
2856564 2022-09-26  Northern Mariana Islands   Rota   0.00  69100
2856565 2022-09-27  Northern Mariana Islands   Rota   0.00  69100
2856566 2022-09-28  Northern Mariana Islands   Rota   0.00  69100
2856567 2022-09-29  Northern Mariana Islands   Rota   0.00  69100

[253 rows x 5 columns]

In [13]:
df1[df1['fips'] == 56045][305:330]

              date    state  county  cases   fips
2855764 2021-03-28  Wyoming  Weston   0.08  56045
2855765 2021-03-29  Wyoming  Weston   0.08  56045
2855766 2021-03-30  Wyoming  Weston   0.08  56045
2855767 2021-03-31  Wyoming  Weston   0.13  56045
2855768 2021-04-01  Wyoming  Weston   0.22  56045
2855769 2021-04-02  Wyoming  Weston   0.22  56045
2855770 2021-04-03  Wyoming  Weston   0.22  56045
2855771 2021-04-04  Wyoming  Weston   0.22  56045
2855772 2021-04-05  Wyoming  Weston   0.23  56045
2855773 2021-04-06  Wyoming  Weston   0.23  56045
2855774 2021-04-07  Wyoming  Weston   0.86  56045
2855775 2021-04-08  Wyoming  Weston   0.86  56045
2855776 2021-04-09  Wyoming  Weston   0.75  56045
2855777 2021-04-10  Wyoming  Weston   0.75  56045
2855778 2021-04-11  Wyoming  Weston   0.75  56045
2855779 2021-04-12  Wyoming  Weston   0.86  56045
2855780 2021-04-13  Wyoming  Weston   0.88  56045
2855781 2021-04-14  Wyoming  Weston   1.00  56045
2855782 2021-04-15  Wyoming  Weston   1.00  56045
2855783 2021-04-16  Wyoming  Weston   1.00  56045
2855784 2021-04-17  Wyoming  Weston   1.00  56045
2855785 2021-04-18  Wyoming  Weston   1.00  56045
2855786 2021-04-19  Wyoming  Weston   0.86  56045
2855787 2021-04-20  Wyoming  Weston   0.86  56045
2855788 2021-04-21  Wyoming  Weston   0.86  56045

In [15]:
df1[df1['fips'] == 36998]

              date     state         county    cases   fips
1715725 2020-03-01  New York  New York City     0.14  36998
1715726 2020-03-02  New York  New York City     0.14  36998
1715727 2020-03-03  New York  New York City     0.29  36998
1715728 2020-03-04  New York  New York City     0.29  36998
1715729 2020-03-05  New York  New York City     0.57  36998
...            ...       ...            ...      ...    ...
1716663 2022-09-25  New York  New York City  2283.86  36998
1716664 2022-09-26  New York  New York City  2199.71  36998
1716665 2022-09-27  New York  New York City  2168.00  36998
1716666 2022-09-28  New York  New York City  2136.86  36998
1716667 2022-09-29  New York  New York City  2080.29  36998

[943 rows x 5 columns]

# Build Vaccine Dataframe

In [3]:
col_list2 = ["Date", "FIPS", "Recip_County", "Recip_State", "Series_Complete_Yes"]
data2 = pd.read_csv(vaccineFilepath, usecols=col_list2)

#below I remove the rows with UNK in the FIPS column 
data2 = data2.drop(data2[data2['FIPS'] == 'UNK'].index)

#the code below converts the fips codes which are strings into integers 
data2['FIPS'] = pd.to_numeric(data2['FIPS'])

#this changes the date column to timestamp values
data2['Date'] = pd.to_datetime(data2['Date'])

data2

              Date   FIPS      Recip_County Recip_State  Series_Complete_Yes
0       2022-03-04  48177   Gonzales County          TX                10159
1       2022-03-04  21045      Casey County          KY                 5742
2       2022-03-04  34013      Essex County          NJ               568595
3       2022-03-04  48465  Val Verde County          TX                32181
4       2022-03-04  29127     Marion County          MO                11827
...            ...    ...               ...         ...                  ...
1466973 2020-12-13  31065     Furnas County          NE                    0
1466974 2020-12-13  26011     Arenac County          MI                    0
1466975 2020-12-13  46115      Spink County          SD                    0
1466976 2020-12-13  47145      Roane County          TN                    0
1466977 2020-12-13  48411   San Saba County          TX                    0

[1441128 rows x 5 columns]

In [38]:
#below I sort by fips code, then the dates are sorted
data2 = data2.sort_values(['FIPS', 'Date'], ignore_index = True)
data2

              Date   FIPS       Recip_County Recip_State  Series_Complete_Yes
0       2020-12-13   1001     Autauga County          AL                    0
1       2020-12-14   1001     Autauga County          AL                    0
2       2020-12-15   1001     Autauga County          AL                    0
3       2020-12-16   1001     Autauga County          AL                    0
4       2020-12-17   1001     Autauga County          AL                    0
...            ...    ...                ...         ...                  ...
1441123 2022-02-28  78030  St. Thomas Island          VI                23485
1441124 2022-03-01  78030  St. Thomas Island          VI                23500
1441125 2022-03-02  78030  St. Thomas Island          VI                23504
1441126 2022-03-03  78030  St. Thomas Island          VI                23514
1441127 2022-03-04  78030  St. Thomas Island          VI                23522

[1441128 rows x 5 columns]

In [57]:
#According to https://github.com/nytimes/covid-19-data, the data for cases for New York, Kings, Queens, Bronx and 
    #Richmond Counties are all combined and report as a single value called 'New York City' with FIPS 36998, we decided 
    #that we should not ignore these New York Counties and the vacine data does not report the data in a similar way, 
    #therefore, below I get the vaccine data for these 5 counties and combine them into a single New York City county
New_York_counties = [36005, 36047, 36061, 36081, 36085]
New_York_data = data2[data2['FIPS'].isin(New_York_counties)]
New_York_county_sums = New_York_data.groupby('Date').sum().reset_index()
New_York_county_sums['FIPS'] = 36998
New_York_county_sums['Recip_County'] = 'New York City'
New_York_county_sums['Recip_State'] = 'New York'
cols_order = ['Date', 'FIPS', 'Recip_County', 'Recip_State', 'Series_Complete_Yes']
New_York_county_sums = New_York_county_sums[cols_order]
New_York_county_sums

          Date   FIPS   Recip_County Recip_State  Series_Complete_Yes
0   2020-12-13  36998  New York City    New York                    0
1   2020-12-14  36998  New York City    New York                    0
2   2020-12-15  36998  New York City    New York                    0
3   2020-12-16  36998  New York City    New York                    0
4   2020-12-17  36998  New York City    New York                    0
..         ...    ...            ...         ...                  ...
442 2022-02-28  36998  New York City    New York              6476273
443 2022-03-01  36998  New York City    New York              6479210
444 2022-03-02  36998  New York City    New York              6482774
445 2022-03-03  36998  New York City    New York              6486125
446 2022-03-04  36998  New York City    New York              6489202

[447 rows x 5 columns]

## Final Dataframe for vaccines

In [62]:
#below I remove the 5 counties from data2 and instead add the dataframe above with New York City county
df2 = New_York_data = data2[~data2['FIPS'].isin(New_York_counties)]
df2 = pd.concat([df2, New_York_county_sums])
df2 = df2.sort_values(['FIPS', 'Date'], ignore_index = True)
df2 #final vaccine dataframe

              Date   FIPS       Recip_County Recip_State  Series_Complete_Yes
0       2020-12-13   1001     Autauga County          AL                    0
1       2020-12-14   1001     Autauga County          AL                    0
2       2020-12-15   1001     Autauga County          AL                    0
3       2020-12-16   1001     Autauga County          AL                    0
4       2020-12-17   1001     Autauga County          AL                    0
...            ...    ...                ...         ...                  ...
1439335 2022-02-28  78030  St. Thomas Island          VI                23485
1439336 2022-03-01  78030  St. Thomas Island          VI                23500
1439337 2022-03-02  78030  St. Thomas Island          VI                23504
1439338 2022-03-03  78030  St. Thomas Island          VI                23514
1439339 2022-03-04  78030  St. Thomas Island          VI                23522

[1439340 rows x 5 columns]

In [65]:
df2[df2['FIPS'] == 36998]

             Date   FIPS   Recip_County Recip_State  Series_Complete_Yes
842595 2020-12-13  36998  New York City    New York                    0
842596 2020-12-14  36998  New York City    New York                    0
842597 2020-12-15  36998  New York City    New York                    0
842598 2020-12-16  36998  New York City    New York                    0
842599 2020-12-17  36998  New York City    New York                    0
...           ...    ...            ...         ...                  ...
843037 2022-02-28  36998  New York City    New York              6476273
843038 2022-03-01  36998  New York City    New York              6479210
843039 2022-03-02  36998  New York City    New York              6482774
843040 2022-03-03  36998  New York City    New York              6486125
843041 2022-03-04  36998  New York City    New York              6489202

[447 rows x 5 columns]

# Build Delta Variant Dataframe

In [10]:
col_list3 = ["Day of Week Ending", "Usa Or Hhsregion", "Variant", "Share"]
data3 = pd.read_csv(deltaPrevalenceFilepath, usecols=col_list3)

#this changes the data column to timestamp values
data3['Day of Week Ending'] = pd.to_datetime(data3['Day of Week Ending'])

#below I select only the variants that we need
variantArray = ['B.1.617.2', 'AY.1', 'AY.2', 'AY.3']
data3 = data3.loc[data3['Variant'].isin(variantArray)]

#below I sort by region and by date
data3 = data3.sort_values(by=["Usa Or Hhsregion", "Day of Week Ending"])

#below I add together the 4 variants  
data3 = data3.groupby(["Usa Or Hhsregion", "Day of Week Ending"]).agg({'Share': 'sum'}).reset_index()
data3

    Usa Or Hhsregion Day of Week Ending     Share
0                  1         2021-06-12  0.048720
1                  1         2021-06-19  0.258975
2                  1         2021-06-26  0.312232
3                  1         2021-07-03  0.522445
4                  1         2021-07-10  0.740037
..               ...                ...       ...
149              USA         2021-08-14  0.986597
150              USA         2021-08-21  0.988940
151              USA         2021-08-28  0.996505
152              USA         2021-09-04  0.995410
153              USA         2021-09-11  0.996646

[154 rows x 3 columns]

In [19]:
#below I create a list containing the names of the Usa Or Hhsregion
Usa_or_Hhsregion_array = []
Usa_or_Hhsregion_temp = data3['Usa Or Hhsregion'].tolist()

#code below is to remove all duplicates 
Usa_or_Hhsregion_array = list(dict.fromkeys(Usa_or_Hhsregion_temp))
Usa_or_Hhsregion_array.sort(key=len)
print(Usa_or_Hhsregion_array)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'USA']

In [20]:
#below is a dictionary where keys are the Hhsregion numbers or USA, while the values are the states for that number
regions_dict = {'1': ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island', 'Vermont'],
                '2': ['New Jersey', 'New York', 'Puerto Rico', 'Virgin Islands'],  
                '3': ['Delaware', 'District of Columbia', 'Maryland', 'Pennsylvania', 'Virginia', 'West Virginia'],
                '4': ['Alabama', 'Florida', 'Georgia', 'Kentucky', 'Mississippi', 'North Carolina', 'South Carolina', 'Tennessee'],
                '5': ['Illinois', 'Indiana', 'Michigan', 'Minnesota', 'Ohio', 'Wisconsin'],
                '6': ['Arkansas', 'Louisiana', 'New Mexico', 'Oklahoma', 'Texas'],
                '7': ['Iowa', 'Kansas', 'Missouri', 'Nebraska'],  
                '8': ['Colorado', 'Montana', 'North Dakota', 'South Dakota', 'Utah', 'Wyoming'],
                '9': ['Arizona', 'California', 'Hawaii', 'Nevada'],
               '10': ['Alaska', 'Idaho', 'Oregon', 'Washington'] 
               }

#below is a list of all of the regions 
regions_list = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island', 'Vermont',
                'New Jersey', 'New York', 'Puerto Rico', 'Virgin Islands',  
                'Delaware', 'District of Columbia', 'Maryland', 'Pennsylvania', 'Virginia', 'West Virginia',
                'Alabama', 'Florida', 'Georgia', 'Kentucky', 'Mississippi', 'North Carolina', 'South Carolina', 'Tennessee',
                'Illinois', 'Indiana', 'Michigan', 'Minnesota', 'Ohio', 'Wisconsin',
                'Arkansas', 'Louisiana', 'New Mexico', 'Oklahoma', 'Texas',
                'Iowa', 'Kansas', 'Missouri', 'Nebraska',  
                'Colorado', 'Montana', 'North Dakota', 'South Dakota', 'Utah', 'Wyoming',
                'Arizona', 'California', 'Hawaii', 'Nevada', 'American Somoa', 'Commonwealth of the Norhtern Mariana Islands', 'Federated States of Micronesia', 'Guam', 'Marshall Islands', 'Republic of Palau',
                'Alaska', 'Idaho', 'Oregon', 'Washington']

regions_list = sorted(regions_list)  
regions_list = list(zip(regions_list))

In [21]:
#below is a function that has a state as input and returns the key associated to that state
def return_key_of_state(state):
    key_value = [i for i, j in regions_dict.items() if state in j]
    key_value = key_value[0]
    return key_value

In [22]:
return_key_of_state('Colorado')

'8'

In [23]:
#below creates all of the dates for the delta prevalence dataframe, because the values are weekly, I needed to create
    #the dates that are inbetween 
dates_array = []
for start, end in zip(data3['Day of Week Ending'], data3['Day of Week Ending'][1:]):
    
    for date in pd.date_range(start, end, closed='left'):
        dates_array.append(pd.date_range(date, freq='D', periods=1).strftime('%Y-%m-%d').tolist())

#since the code above resulted in nested list, below I use list comprehension
    #to convert a list of lists to a flat list 
dates_list = [item for element in dates_array for item in element]
print(dates_list)
print(len(dates_list))

['2021-06-12', '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04', '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16', '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24', '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29', '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03', '2021-09-04', '2021-09-05', '2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10', '2021-06-12', '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04', '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16', '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24', '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29', '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03', '2021-09-04', '2021-09-05', '2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10', '2021-06-12', '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04', '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16', '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24', '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29', '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03', '2021-09-04', '2021-09-05', '2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10', '2021-06-12', '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04', '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16', '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24', '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29', '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03', '2021-09-04', '2021-09-05', '2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10', '2021-06-12', '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04', '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16', '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24', '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29', '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03', '2021-09-04', '2021-09-05', '2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10', '2021-06-12', '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04', '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16', '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24', '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29', '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03', '2021-09-04', '2021-09-05', '2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10', '2021-06-12', '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04', '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16', '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24', '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29', '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03', '2021-09-04', '2021-09-05', '2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10', '2021-06-12', '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04', '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16', '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24', '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29', '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03', '2021-09-04', '2021-09-05', '2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10', '2021-06-12', '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04', '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16', '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24', '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29', '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03', '2021-09-04', '2021-09-05', '2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10', '2021-06-12', '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04', '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16', '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24', '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29', '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03', '2021-09-04', '2021-09-05', '2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10', '2021-06-12', '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04', '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16', '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24', '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25', '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29', '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02', '2021-09-03', '2021-09-04', '2021-09-05', '2021-09-06', '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10']
1001

# Note: the two functions create arrays with the names below
**create_array_of_endpoints**
enpoints_array1
enpoints_array2
enpoints_array3
enpoints_array4
enpoints_array5
enpoints_array6
enpoints_array7
enpoints_array8
enpoints_array9
enpoints_array10
enpoints_arrayUSA

**divded_by_a_week**
divided_array1
divided_array2
divided_array3
divided_array4
divided_array5
divided_array6
divided_array7
divided_array8
divided_array9
divided_array10
divided_arrayUSA

In [24]:
#below is a function that takes the two endpoints from the function below, takes the difference between these two values
    #divides this value by 7, since 7 days in a week, and then evenly spreads values to get from the first endpoint to 
    #the second endpoint 
def divded_by_a_week(name, tuple_array):
    array_name = "divided_array" + name
    
    globals()[array_name] = temp_Array = []
    
    for endpoint_tuple in range(13):
        start = tuple_array[endpoint_tuple][0]
        end = tuple_array[endpoint_tuple][1]
        
        temp_Array.append(start)
        
        difference = end - start
        
        week_split = difference / 7
        
        for days_in_week in range(1,7):
            day_value = start + week_split * days_in_week
            temp_Array.append(day_value)

In [25]:
#below is a function that holds endpoints
def create_array_of_endpoints(name, region, data3):
    array_name = "endpoints_array" + name
    
    globals()[array_name] = temp_Array = []
    
    tempdf = data3.loc[(data3['Usa Or Hhsregion'] == region), ['Share']]
    
    for start, end in zip(tempdf['Share'], tempdf['Share'][1:]):
        tuple_point = (start, end)
        temp_Array.append(tuple_point)
        
    divded_by_a_week(region, temp_Array)

In [26]:
for region in Usa_or_Hhsregion_array:
    create_array_of_endpoints(region, region, data3)

In [27]:
#below I take the 11 divdided_arrays and combine them into one array
divided_array = [*divided_array1, *divided_array2, *divided_array3, *divided_array4, *divided_array5, *divided_array6, 
               *divided_array7, *divided_array8, *divided_array9, *divided_array10, *divided_arrayUSA]
print(divided_array)

[0.048720357, 0.07875673014285714, 0.10879310328571429, 0.13882947642857144, 0.16886584957142858, 0.1989022227142857, 0.22893859585714285, 0.258974969, 0.26658307057142855, 0.27419117214285715, 0.2817992737142857, 0.2894073752857143, 0.29701547685714286, 0.30462357842857146, 0.31223168, 0.34226221714285715, 0.3722927542857143, 0.4023232914285715, 0.43235382857142857, 0.46238436571428576, 0.4924149028571429, 0.52244544, 0.553529952, 0.5846144640000001, 0.615698976, 0.6467834880000001, 0.677868, 0.708952512, 0.740037024, 0.7652772068571428, 0.7905173897142858, 0.8157575725714286, 0.8409977554285715, 0.8662379382857143, 0.8914781211428571, 0.916718304, 0.9223261134285714, 0.9279339228571428, 0.9335417322857142, 0.9391495417142858, 0.9447573511428572, 0.9503651605714286, 0.95597297, 0.9556389575714286, 0.9553049451428571, 0.9549709327142857, 0.9546369202857143, 0.9543029078571429, 0.9539688954285714, 0.953634883, 0.957003735, 0.9603725869999999, 0.963741439, 0.967110291, 0.970479143, 0.973847995, 0.977216847, 0.9791174382857143, 0.9810180295714286, 0.9829186208571429, 0.9848192121428571, 0.9867198034285714, 0.9886203947142856, 0.9905209859999999, 0.9901301068571428, 0.9897392277142857, 0.9893483485714285, 0.9889574694285714, 0.9885665902857143, 0.9881757111428572, 0.987784832, 0.9887502414285714, 0.9897156508571429, 0.9906810602857142, 0.9916464697142857, 0.9926118791428571, 0.9935772885714286, 0.994542698, 0.994697863, 0.994853028, 0.995008193, 0.995163358, 0.995318523, 0.995473688, 0.995628853, 0.9958492955714286, 0.9960697381428572, 0.9962901807142858, 0.9965106232857144, 0.996731065857143, 0.9969515084285715, 0.270605683, 0.28375364585714286, 0.29690160871428567, 0.31004957157142854, 0.3231975344285714, 0.3363454972857143, 0.3494934601428571, 0.36264142299999996, 0.38809794957142857, 0.4135544761428571, 0.4390110027142857, 0.4644675292857143, 0.4899240558571429, 0.5153805824285714, 0.540837109, 0.5632657578571428, 0.5856944067142857, 0.6081230555714285, 0.6305517044285714, 0.6529803532857142, 0.6754090021428572, 0.697837651, 0.7143250299999999, 0.730812409, 0.747299788, 0.763787167, 0.780274546, 0.7967619250000001, 0.8132493040000001, 0.8189529637142857, 0.8246566234285715, 0.8303602831428571, 0.8360639428571429, 0.8417676025714286, 0.8474712622857143, 0.853174922, 0.8676968565714286, 0.8822187911428572, 0.8967407257142858, 0.9112626602857142, 0.9257845948571428, 0.9403065294285714, 0.954828464, 0.9566650877142857, 0.9585017114285714, 0.9603383351428572, 0.9621749588571428, 0.9640115825714285, 0.9658482062857142, 0.9676848299999999, 0.9690678349999999, 0.97045084, 0.971833845, 0.97321685, 0.974599855, 0.9759828600000001, 0.9773658650000001, 0.9793505977142858, 0.9813353304285716, 0.9833200631428572, 0.9853047958571429, 0.9872895285714286, 0.9892742612857144, 0.9912589940000001, 0.9916830224285714, 0.9921070508571429, 0.9925310792857143, 0.9929551077142857, 0.9933791361428571, 0.9938031645714286, 0.994227193, 0.9944400042857142, 0.9946528155714286, 0.9948656268571429, 0.9950784381428571, 0.9952912494285714, 0.9955040607142858, 0.995716872, 0.9957862015714286, 0.9958555311428572, 0.9959248607142858, 0.9959941902857142, 0.9960635198571428, 0.9961328494285714, 0.996202179, 0.9963673202857143, 0.9965324615714285, 0.9966976028571428, 0.9968627441428571, 0.9970278854285715, 0.9971930267142857, 0.087039515, 0.09741606371428571, 0.10779261242857142, 0.11816916114285714, 0.12854570985714286, 0.13892225857142856, 0.14929880728571426, 0.159675356, 0.17812525899999998, 0.19657516199999997, 0.215025065, 0.23347496799999998, 0.25192487099999994, 0.270374774, 0.288824677, 0.32863787, 0.36845106299999997, 0.408264256, 0.448077449, 0.48789064200000004, 0.5277038350000001, 0.567517028, 0.5862312315714286, 0.6049454351428571, 0.6236596387142858, 0.6423738422857143, 0.6610880458571429, 0.6798022494285714, 0.698516453, 0.7181977604285714, 0.7378790678571429, 0.7575603752857143, 0.7772416827142856, 0.7969229901428571, 0.8166042975714285, 0.8362856049999999, 0.8497825501428571, 0.8632794952857142, 0.8767764404285714, 0.8902733855714284, 0.9037703307142856, 0.9172672758571427, 0.9307642209999999, 0.9371765714285714, 0.9435889218571427, 0.9500012722857142, 0.9564136227142856, 0.9628259731428571, 0.9692383235714285, 0.9756506739999999, 0.9768666694285714, 0.9780826648571428, 0.9792986602857142, 0.9805146557142858, 0.9817306511428572, 0.9829466465714286, 0.984162642, 0.9849499168571428, 0.9857371917142858, 0.9865244665714286, 0.9873117414285715, 0.9880990162857143, 0.9888862911428572, 0.989673566, 0.9905573092857143, 0.9914410525714286, 0.9923247958571428, 0.9932085391428571, 0.9940922824285714, 0.9949760257142857, 0.995859769, 0.9957547672857142, 0.9956497655714286, 0.9955447638571429, 0.9954397621428571, 0.9953347604285714, 0.9952297587142858, 0.995124757, 0.9953194061428572, 0.9955140552857143, 0.9957087044285715, 0.9959033535714286, 0.9960980027142857, 0.9962926518571429, 0.996487301, 0.9966658354285715, 0.9968443698571429, 0.9970229042857143, 0.9972014387142858, 0.9973799731428572, 0.9975585075714286, 0.171644139, 0.1831679142857143, 0.19469168957142857, 0.20621546485714287, 0.21773924014285714, 0.22926301542857144, 0.24078679071428571, 0.252310566, 0.27683978414285715, 0.3013690022857143, 0.3258982204285714, 0.35042743857142855, 0.3749566567142857, 0.3994858748571428, 0.42401509299999995, 0.4537976505714285, 0.4835802081428571, 0.5133627657142856, 0.5431453232857143, 0.5729278808571429, 0.6027104384285714, 0.632492996, 0.6543169891428571, 0.6761409822857143, 0.6979649754285714, 0.7197889685714286, 0.7416129617142857, 0.7634369548571429, 0.785260948, 0.796585073, 0.807909198, 0.8192333230000001, 0.830557448, 0.841881573, 0.853205698, 0.864529823, 0.8752225897142858, 0.8859153564285714, 0.8966081231428572, 0.9073008898571429, 0.9179936565714286, 0.9286864232857144, 0.93937919, 0.94182739625543, 0.9442756025108601, 0.94672380876629, 0.9491720150217201, 0.9516202212771501, 0.9540684275325801, 0.9565166337880101, 0.9569507029611515, 0.957384772134293, 0.9578188413074343, 0.9582529104805757, 0.9586869796537171, 0.9591210488268586, 0.9595551179999999, 0.9626301914285713, 0.9657052648571428, 0.9687803382857142, 0.9718554117142857, 0.9749304851428571, 0.9780055585714286, 0.981080632, 0.9817681871428571, 0.9824557422857142, 0.9831432974285713, 0.9838308525714285, 0.9845184077142857, 0.9852059628571428, 0.9858935179999999, 0.9874871324285713, 0.9890807468571428, 0.9906743612857142, 0.9922679757142857, 0.9938615901428571, 0.9954552045714286, 0.997048819, 0.9966754744285714, 0.9963021298571428, 0.9959287852857143, 0.9955554407142858, 0.9951820961428572, 0.9948087515714287, 0.9944354070000001, 0.9946465290000001, 0.9948576510000001, 0.9950687730000001, 0.9952798950000001, 0.9954910170000001, 0.9957021390000002, 0.184078425, 0.20073147042857142, 0.21738451585714286, 0.23403756128571426, 0.25069060671428567, 0.26734365214285716, 0.28399669757142854, 0.30064974299999997, 0.32627124814285713, 0.35189275328571423, 0.3775142584285714, 0.40313576357142855, 0.42875726871428566, 0.4543787738571428, 0.480000279, 0.5052281424285714, 0.5304560058571428, 0.5556838692857142, 0.5809117327142858, 0.6061395961428572, 0.6313674595714286, 0.656595323, 0.6840591075714286, 0.7115228921428571, 0.7389866767142858, 0.7664504612857143, 0.7939142458571429, 0.8213780304285714, 0.848841815, 0.8538897782857143, 0.8589377415714285, 0.8639857048571429, 0.8690336681428571, 0.8740816314285714, 0.8791295947142856, 0.884177558, 0.8936580857142857, 0.9031386134285714, 0.9126191411428571, 0.9220996688571428, 0.9315801965714285, 0.9410607242857143, 0.950541252, 0.9531783492857142, 0.9558154465714286, 0.9584525438571428, 0.9610896411428571, 0.9637267384285714, 0.9663638357142857, 0.969000933, 0.9698148415714286, 0.9706287501428571, 0.9714426587142857, 0.9722565672857143, 0.9730704758571429, 0.9738843844285714, 0.974698293, 0.9772658237142857, 0.9798333544285714, 0.9824008851428572, 0.9849684158571429, 0.9875359465714286, 0.9901034772857144, 0.9926710080000001, 0.9921077958571429, 0.9915445837142858, 0.9909813715714286, 0.9904181594285715, 0.9898549472857143, 0.9892917351428572, 0.988728523, 0.9899543437142857, 0.9911801644285715, 0.9924059851428572, 0.9936318058571428, 0.9948576265714285, 0.9960834472857143, 0.997309268, 0.9971500061428571, 0.9969907442857143, 0.9968314824285714, 0.9966722205714286, 0.9965129587142857, 0.9963536968571429, 0.996194435, 0.9963445654285714, 0.9964946958571429, 0.9966448262857143, 0.9967949567142858, 0.9969450871428571, 0.9970952175714286, 0.30814466100000004, 0.32056961228571434, 0.3329945635714286, 0.3454195148571429, 0.3578444661428572, 0.3702694174285715, 0.38269436871428575, 0.39511932000000005, 0.4169168008571429, 0.4387142817142857, 0.46051176257142856, 0.4823092434285714, 0.5041067242857142, 0.5259042051428571, 0.5477016859999999, 0.5703732018571428, 0.5930447177142857, 0.6157162335714286, 0.6383877494285713, 0.6610592652857142, 0.6837307811428571, 0.706402297, 0.7227708248571428, 0.7391393527142858, 0.7555078805714286, 0.7718764084285714, 0.7882449362857142, 0.8046134641428572, 0.820981992, 0.8244590371428572, 0.8279360822857142, 0.8314131274285714, 0.8348901725714286, 0.8383672177142858, 0.8418442628571429, 0.845321308, 0.8590468821428572, 0.8727724562857143, 0.8864980304285714, 0.9002236045714286, 0.9139491787142857, 0.9276747528571428, 0.941400327, 0.9450630067142857, 0.9487256864285715, 0.9523883661428572, 0.9560510458571428, 0.9597137255714285, 0.9633764052857143, 0.967039085, 0.9644639401428572, 0.9618887952857142, 0.9593136504285714, 0.9567385055714286, 0.9541633607142858, 0.9515882158571428, 0.949013071, 0.9542168414285714, 0.9594206118571429, 0.9646243822857143, 0.9698281527142857, 0.9750319231428571, 0.9802356935714286, 0.985439464, 0.9855005577142858, 0.9855616514285714, 0.9856227451428572, 0.9856838388571428, 0.9857449325714286, 0.9858060262857142, 0.98586712, 0.9869897001428571, 0.9881122802857143, 0.9892348604285714, 0.9903574405714285, 0.9914800207142856, 0.9926026008571428, 0.993725181, 0.9939120128571428, 0.9940988447142857, 0.9942856765714285, 0.9944725084285714, 0.9946593402857142, 0.9948461721428571, 0.9950330039999999, 0.995209464, 0.9953859239999999, 0.995562384, 0.995738844, 0.9959153040000001, 0.996091764, 0.710754156, 0.720185416, 0.729616676, 0.739047936, 0.748479196, 0.757910456, 0.767341716, 0.776772976, 0.7912093882857142, 0.8056458005714285, 0.8200822128571428, 0.8345186251428571, 0.8489550374285714, 0.8633914497142856, 0.877827862, 0.885744026, 0.89366019, 0.901576354, 0.909492518, 0.917408682, 0.9253248460000001, 0.93324101, 0.9371755868571429, 0.9411101637142858, 0.9450447405714286, 0.9489793174285714, 0.9529138942857143, 0.9568484711428572, 0.960783048, 0.9615410211428571, 0.9622989942857143, 0.9630569674285714, 0.9638149405714286, 0.9645729137142857, 0.9653308868571429, 0.9660888599999999, 0.9673429291428571, 0.9685969982857142, 0.9698510674285714, 0.9711051365714285, 0.9723592057142857, 0.9736132748571428, 0.974867344, 0.9750945058571429, 0.9753216677142856, 0.9755488295714285, 0.9757759914285714, 0.9760031532857143, 0.9762303151428571, 0.976457477, 0.9756031549999999, 0.974748833, 0.973894511, 0.973040189, 0.972185867, 0.9713315450000001, 0.970477223, 0.9741522690000001, 0.9778273150000001, 0.9815023610000001, 0.985177407, 0.988852453, 0.992527499, 0.996202545, 0.9950904987142858, 0.9939784524285714, 0.9928664061428571, 0.9917543598571429, 0.9906423135714286, 0.9895302672857142, 0.988418221, 0.9900727608571428, 0.9917273007142857, 0.9933818405714285, 0.9950363804285715, 0.9966909202857143, 0.9983454601428572, 1.0, 0.9996697055714285, 0.9993394111428572, 0.9990091167142857, 0.9986788222857144, 0.9983485278571429, 0.9980182334285715, 0.9976879390000001, 0.9977453817445329, 0.9978028244890658, 0.9978602672335986, 0.9979177099781315, 0.9979751527226642, 0.9980325954671971, 0.543461263, 0.5587134902857143, 0.5739657175714286, 0.5892179448571429, 0.6044701721428571, 0.6197223994285714, 0.6349746267142857, 0.650226854, 0.6699502177142858, 0.6896735814285715, 0.7093969451428572, 0.7291203088571429, 0.7488436725714286, 0.7685670362857143, 0.7882904000000001, 0.7997232272857143, 0.8111560545714286, 0.8225888818571429, 0.8340217091428572, 0.8454545364285715, 0.8568873637142858, 0.868320191, 0.8689971162857143, 0.8696740415714286, 0.8703509668571429, 0.8710278921428571, 0.8717048174285714, 0.8723817427142857, 0.873058668, 0.8814883327142857, 0.8899179974285714, 0.8983476621428571, 0.9067773268571429, 0.9152069915714286, 0.9236366562857142, 0.932066321, 0.9355675807142857, 0.9390688404285714, 0.9425701001428571, 0.9460713598571429, 0.9495726195714286, 0.9530738792857143, 0.956575139, 0.95776573, 0.9589563210000001, 0.960146912, 0.961337503, 0.962528094, 0.963718685, 0.964909276, 0.9670654337142857, 0.9692215914285714, 0.9713777491428571, 0.9735339068571429, 0.9756900645714286, 0.9778462222857144, 0.9800023800000001, 0.9808902141428572, 0.9817780482857144, 0.9826658824285714, 0.9835537165714286, 0.9844415507142857, 0.9853293848571429, 0.986217219, 0.9878602537142858, 0.9895032884285715, 0.9911463231428572, 0.9927893578571428, 0.9944323925714286, 0.9960754272857143, 0.997718462, 0.9980443960000001, 0.99837033, 0.998696264, 0.999022198, 0.9993481320000001, 0.999674066, 1.0, 0.9997176402857143, 0.9994352805714286, 0.9991529208571429, 0.9988705611428572, 0.9985882014285715, 0.9983058417142858, 0.9980234820000001, 0.9980939162857144, 0.9981643505714287, 0.998234784857143, 0.9983052191428572, 0.9983756534285715, 0.9984460877142858, 0.274022482, 0.2950232977142857, 0.31602411342857145, 0.33702492914285714, 0.3580257448571429, 0.3790265605714286, 0.4000273762857143, 0.421028192, 0.4439512951428572, 0.4668743982857143, 0.4897975014285715, 0.5127206045714287, 0.5356437077142857, 0.5585668108571429, 0.581489914, 0.5997856804285715, 0.618081446857143, 0.6363772132857144, 0.6546729797142857, 0.6729687461428572, 0.6912645125714286, 0.7095602790000001, 0.7285137808571429, 0.7474672827142858, 0.7664207845714286, 0.7853742864285714, 0.8043277882857143, 0.8232812901428571, 0.842234792, 0.8498235815714286, 0.8574123711428571, 0.8650011607142857, 0.8725899502857143, 0.8801787398571429, 0.8877675294285714, 0.895356319, 0.9025522497142857, 0.9097481804285714, 0.9169441111428571, 0.9241400418571429, 0.9313359725714286, 0.9385319032857143, 0.945727834, 0.9483861458571429, 0.9510444577142857, 0.9537027695714285, 0.9563610814285715, 0.9590193932857143, 0.9616777051428571, 0.9643360169999999, 0.9655927968571428, 0.9668495767142856, 0.9681063565714285, 0.9693631364285714, 0.9706199162857143, 0.9718766961428571, 0.973133476, 0.9755848134285714, 0.9780361508571429, 0.9804874882857143, 0.9829388257142857, 0.9853901631428571, 0.9878415005714286, 0.990292838, 0.9907414224285714, 0.9911900068571429, 0.9916385912857143, 0.9920871757142856, 0.992535760142857, 0.9929843445714285, 0.9934329289999999, 0.9940182367142857, 0.9946035444285714, 0.9951888521428571, 0.9957741598571428, 0.9963594675714286, 0.9969447752857142, 0.997530083, 0.997384423, 0.997238763, 0.997093103, 0.996947443, 0.996801783, 0.9966561230000001, 0.996510463, 0.9966530745714286, 0.9967956861428572, 0.9969382977142858, 0.9970809092857142, 0.9972235208571428, 0.9973661324285714, 0.119097866, 0.12673496471428572, 0.13437206342857141, 0.14200916214285714, 0.14964626085714286, 0.15728335957142858, 0.16492045828571428, 0.172557557, 0.19285057642857142, 0.21314359585714285, 0.2334366152857143, 0.2537296347142857, 0.27402265414285715, 0.29431567357142857, 0.314608693, 0.34714710114285713, 0.37968550928571426, 0.41222391742857145, 0.4447623255714286, 0.4773007337142857, 0.5098391418571429, 0.54237755, 0.5664989661428571, 0.5906203822857142, 0.6147417984285715, 0.6388632145714286, 0.6629846307142857, 0.6871060468571428, 0.711227463, 0.7276984797142857, 0.7441694964285714, 0.7606405131428571, 0.7771115298571428, 0.7935825465714286, 0.8100535632857143, 0.8265245800000001, 0.8403524934285714, 0.8541804068571429, 0.8680083202857143, 0.8818362337142858, 0.8956641471428571, 0.9094920605714285, 0.923319974, 0.9288263492857143, 0.9343327245714286, 0.9398390998571429, 0.9453454751428572, 0.9508518504285715, 0.9563582257142857, 0.961864601, 0.9632958447142858, 0.9647270884285715, 0.9661583321428572, 0.9675895758571429, 0.9690208195714286, 0.9704520632857143, 0.971883307, 0.9743031218571429, 0.9767229367142858, 0.9791427515714286, 0.9815625664285715, 0.9839823812857144, 0.9864021961428573, 0.9888220110000001, 0.9894565617142858, 0.9900911124285715, 0.9907256631428571, 0.9913602138571429, 0.9919947645714285, 0.9926293152857143, 0.9932638659999999, 0.9936792994285714, 0.9940947328571428, 0.9945101662857142, 0.9949255997142857, 0.9953410331428572, 0.9957564665714286, 0.9961719, 0.9962122998571429, 0.9962526997142856, 0.9962930995714285, 0.9963334994285714, 0.9963738992857143, 0.9964142991428571, 0.9964546989999999, 0.996647357, 0.996840015, 0.997032673, 0.997225331, 0.997417989, 0.997610647, 0.263339136, 0.2789532904285714, 0.2945674448571428, 0.31018159928571426, 0.3257957537142857, 0.3414099081428571, 0.35702406257142855, 0.372638217, 0.3960969987142857, 0.4195557804285714, 0.4430145621428571, 0.46647334385714284, 0.4899321255714285, 0.5133909072857142, 0.536849689, 0.5600705215714286, 0.5832913541428572, 0.6065121867142858, 0.6297330192857142, 0.6529538518571428, 0.6761746844285714, 0.699395517, 0.7169960145714286, 0.7345965121428571, 0.7521970097142857, 0.7697975072857143, 0.7873980048571428, 0.8049985024285714, 0.822599, 0.8301590587142856, 0.8377191174285714, 0.8452791761428571, 0.8528392348571429, 0.8603992935714285, 0.8679593522857143, 0.875519411, 0.8853787852857142, 0.8952381595714286, 0.9050975338571429, 0.9149569081428571, 0.9248162824285714, 0.9346756567142858, 0.944535031, 0.9472784227142858, 0.9500218144285715, 0.9527652061428572, 0.9555085978571428, 0.9582519895714285, 0.9609953812857143, 0.963738773, 0.9638675734285714, 0.9639963738571429, 0.9641251742857143, 0.9642539747142858, 0.9643827751428572, 0.9645115755714286, 0.9646403760000001, 0.9677770664285715, 0.9709137568571429, 0.9740504472857143, 0.9771871377142858, 0.9803238281428572, 0.9834605185714286, 0.986597209, 0.9869318682857143, 0.9872665275714286, 0.9876011868571429, 0.9879358461428571, 0.9882705054285714, 0.9886051647142857, 0.988939824, 0.9900205318571429, 0.9911012397142858, 0.9921819475714286, 0.9932626554285714, 0.9943433632857143, 0.9954240711428571, 0.996504779, 0.9963483952857143, 0.9961920115714286, 0.9960356278571428, 0.9958792441428572, 0.9957228604285715, 0.9955664767142858, 0.995410093, 0.9955866105714286, 0.9957631281428572, 0.9959396457142857, 0.9961161632857143, 0.9962926808571428, 0.9964691984285714]

## Final Delta Prevalence Dataframe

In [28]:
df3_column_names = ["Date", "Usa Or Hhsregion", "Delta Prevalence"]
df3 = pd.DataFrame(columns = df3_column_names)

dateStart = 0 
dateEnd = len(divided_array1)

for region in range(0, len(Usa_or_Hhsregion_array)):
    regionName = Usa_or_Hhsregion_array[region]
    
    for regionDates in range(dateStart, dateEnd):
        date = dates_list[regionDates]
        delta = divided_array[regionDates]
        
        df_temp = {'Date': date, 'Usa Or Hhsregion': regionName, 'Delta Prevalence': delta}
        df3 = df3.append(df_temp, ignore_index = True) 
        
    dateStart += len(divided_array2)
    dateEnd += len(divided_array2)

df3

            Date Usa Or Hhsregion  Delta Prevalence
0     2021-06-12                1          0.048720
1     2021-06-13                1          0.078757
2     2021-06-14                1          0.108793
3     2021-06-15                1          0.138829
4     2021-06-16                1          0.168866
...          ...              ...               ...
996   2021-09-06              USA          0.995763
997   2021-09-07              USA          0.995940
998   2021-09-08              USA          0.996116
999   2021-09-09              USA          0.996293
1000  2021-09-10              USA          0.996469

[1001 rows x 3 columns]

In [29]:
df3[df3['Usa Or Hhsregion'] == '1']

          Date Usa Or Hhsregion  Delta Prevalence
0   2021-06-12                1          0.048720
1   2021-06-13                1          0.078757
2   2021-06-14                1          0.108793
3   2021-06-15                1          0.138829
4   2021-06-16                1          0.168866
..         ...              ...               ...
86  2021-09-06                1          0.996070
87  2021-09-07                1          0.996290
88  2021-09-08                1          0.996511
89  2021-09-09                1          0.996731
90  2021-09-10                1          0.996952

[91 rows x 3 columns]

In [66]:
df3[df3['Usa Or Hhsregion'] == '2']

           Date Usa Or Hhsregion  Delta Prevalence
91   2021-06-12                2          0.270606
92   2021-06-13                2          0.283754
93   2021-06-14                2          0.296902
94   2021-06-15                2          0.310050
95   2021-06-16                2          0.323198
..          ...              ...               ...
177  2021-09-06                2          0.996532
178  2021-09-07                2          0.996698
179  2021-09-08                2          0.996863
180  2021-09-09                2          0.997028
181  2021-09-10                2          0.997193

[91 rows x 3 columns]

In [31]:
test = df3.Date.value_counts().to_frame()
test

            Date
2021-08-29    11
2021-06-30    11
2021-07-20    11
2021-09-05    11
2021-09-10    11
...          ...
2021-06-12    11
2021-06-20    11
2021-07-05    11
2021-06-26    11
2021-07-06    11

[91 rows x 1 columns]

In [32]:
test[test['Date'] == 4]

Empty DataFrame
Columns: [Date]
Index: []

In [33]:
df3[df3['Date'] == '2021-08-03']

           Date Usa Or Hhsregion  Delta Prevalence
52   2021-08-03                1          0.963741
143  2021-08-03                2          0.971834
234  2021-08-03                3          0.979299
325  2021-08-03                4          0.957819
416  2021-08-03                5          0.971443
507  2021-08-03                6          0.959314
598  2021-08-03                7          0.973895
689  2021-08-03                8          0.971378
780  2021-08-03                9          0.968106
871  2021-08-03               10          0.966158
962  2021-08-03              USA          0.964125

# Merge the 3 final dataframes into one dataframe and save it in a CSV

In [67]:
#the code below is to create two lists with all of the FIPS codes from the cases dataframe and the vaccines dataframe
    #to see which regions are in one dataframe but not in another 
cases_fips = []
cases_fips_temp = df1[['fips']].apply(tuple, axis = 1).tolist()

#code below is to remove all duplicates 
cases_fips = list(dict.fromkeys(cases_fips_temp))

vaccine_fips = []
vaccine_fips_temp = df2[['FIPS']].apply(tuple, axis = 1).tolist()

#code below is to remove all duplicates 
vaccine_fips = list(dict.fromkeys(vaccine_fips_temp))

In [68]:
#below I find the unwanted FIPS codes that I need to take out from the vaccine data frame
extraVaccineArray = list(set(vaccine_fips) - set(cases_fips))
extraVaccineArray = list(sum(extraVaccineArray, ()))
extraVaccineArray.sort()
extraVaccineArray

[2060, 2105, 2164, 2282, 66010]

In [69]:
#below I find the unwanted FIPS codes that I need to take out from the cases data frame
extraCasesArray = list(set(cases_fips) - set(vaccine_fips))
extraCasesArray = list(sum(extraCasesArray, ()))
extraCasesArray.sort()
extraCasesArray

[2997, 2998, 29997, 29998, 69100, 69110, 69120]

**Take out FIPS codes so df1 and df2 match**

>Take [2060, 2105, 2164, 2282, 66010] out from vaccine data frame


>Take [2997, 2998, 29997, 29998, 69100, 69110, 69120] out from the cases data frame

In [70]:
#below I create a dataframe with the extra cases FIPS codes
extraCasesdf = df1.loc[df1['fips'].isin(extraCasesArray)]
extraCasesdf = extraCasesdf.reset_index()

#below I delete the rows in df1 with the FIPS codes above
for extracasesFips in extraCasesArray:
    df1.drop(df1[df1['fips'] == extracasesFips].index, inplace = True)

extra1 = []
extra_temp1 = df1[['fips']].apply(tuple, axis = 1).tolist()

#code below is to remove all duplicates 
extra1 = list(dict.fromkeys(extra_temp1))


#below I create a dataframe with the extra vaccine FIPS codes
extraVaccinedf = df2.loc[df2['FIPS'].isin(extraVaccineArray)]
extraVaccinedf = extraVaccinedf.reset_index()

#below I delete the rows in df2 with the FIPS codes above
for extravaccineFips in extraVaccineArray:
    df2.drop(df2[df2['FIPS'] == extravaccineFips].index, inplace = True)

extra2 = []
extra_temp2 = df2[['FIPS']].apply(tuple, axis = 1).tolist()

#code below is to remove all duplicates 
extra2 = list(dict.fromkeys(extra_temp2))

#Note: extra1 == extra2

In [71]:
#the code below is to create a list with all of the states from the cases dataframe to see which regions are in one 
    #dataframe but not in another 
cases_states = []
cases_states_temp = df1[['state']].apply(tuple, axis = 1).tolist()

#code below is to remove all duplicates 
cases_states = list(dict.fromkeys(cases_states_temp))

In [72]:
set(cases_states) - set(regions_list)

set()

In [73]:
set(regions_list) - set(cases_states)

{('American Somoa',),
 ('Commonwealth of the Norhtern Mariana Islands',),
 ('Federated States of Micronesia',),
 ('Guam',),
 ('Marshall Islands',),
 ('Republic of Palau',)}

**Begin merging the 3 dataframes - Create a final dataframe**

In [74]:
#below I create a new final dataframe to combine df1(cases), df2(vaccines), and df3(delta), df1/cases is the largest 
    #which is why I am using it to create the final dataframe
finaldf = df1[["date", "fips", "state", "county", "cases"]]

#below I create a vaccinations column and put 0 as a place holder value
finaldf['vaccinations'] = 0
finaldf

<ipython-input-74-eeb4b25e165e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finaldf['vaccinations'] = 0

              date   fips           state      county  cases  vaccinations
0       2020-03-24   1001         Alabama     Autauga   0.14             0
1       2020-03-25   1001         Alabama     Autauga   0.57             0
2       2020-03-26   1001         Alabama     Autauga   0.86             0
3       2020-03-27   1001         Alabama     Autauga   0.86             0
4       2020-03-28   1001         Alabama     Autauga   0.86             0
...            ...    ...             ...         ...    ...           ...
2929347 2022-09-25  78030  Virgin Islands  St. Thomas   3.29             0
2929348 2022-09-26  78030  Virgin Islands  St. Thomas   3.29             0
2929349 2022-09-27  78030  Virgin Islands  St. Thomas   4.13             0
2929350 2022-09-28  78030  Virgin Islands  St. Thomas   4.13             0
2929351 2022-09-29  78030  Virgin Islands  St. Thomas   4.13             0

[2924071 rows x 6 columns]

In [75]:
#below I find the first and last date of vaccines reported
all_vaccine_dates_array = df2['Date'].tolist()

#code below is to remove all duplicates 
vaccine_dates_array = list(dict.fromkeys(all_vaccine_dates_array))

first_vaccine_date = vaccine_dates_array[0].strftime("%Y-%m-%d")
last_vaccine_date_temp = vaccine_dates_array[-1]
print(last_vaccine_date_temp)

#due to the idea that vaccines go up until the present date, but cases are a day behind, I need to make them match
last_vaccine_date = last_vaccine_date_temp - timedelta(days=1)
print(last_vaccine_date)

#below I get the index for the first date of vaccines
first_vaccine_day_index_list = finaldf.index[finaldf['date'] == first_vaccine_date]
print(first_vaccine_day_index_list)

#below I get the index for the last date of vaccines 
last_vaccine_day_index_list = finaldf.index[finaldf['date'] == last_vaccine_date]
print(last_vaccine_day_index_list)

2022-03-04 00:00:00
2022-03-03 00:00:00
Int64Index([    264,    1194,    2104,    3018,    3937,    4855,    5774,
               6700,    7625,    8544,
            ...
            2920709, 2921587, 2922465, 2923341, 2924219, 2925097, 2925975,
            2926882, 2927789, 2928696],
           dtype='int64', length=3215)
Int64Index([    709,    1639,    2549,    3463,    4382,    5300,    6219,
               7145,    8070,    8989,
            ...
            2921154, 2922032, 2922910, 2923786, 2924664, 2925542, 2926420,
            2927327, 2928234, 2929141],
           dtype='int64', length=3215)

## Fix issues with repeated dates for a county

In [76]:
print(df2.duplicated().sum()) 
#to delete duplicates use the code below 
df2 = df2.drop_duplicates()

0

In [77]:
temp_list = df2["Series_Complete_Yes"].tolist()
temp_list = list(map(str, temp_list))

vaccine_share_list = []

for value in temp_list:
    value = value.replace(',', '')
    vaccine_share_list.append(value)
#vaccine_share_list[446:896]
print(len(vaccine_share_list))

1437105

In [78]:
#del vaccine_share_list[446::446]

In [79]:
vaccine_share_list[445:448]

['24294', '24307', '0']

In [80]:
#len(vaccine_share_list)

In [81]:
vaccine_days = last_vaccine_day_index_list[0] - first_vaccine_day_index_list[0]
vaccine_days += 1

vaccineDateStart = 0
vaccineDateEnd = vaccine_days
#temp_list = first_vaccine_day_index_list[0:2]


#the loop below is for the final dataframe, it starts at 2020-12-13 since that is the first date for vaccines
for vaccine_index in first_vaccine_day_index_list:
    
    #the loop below is for the vaccine_share_list that has the vaccine data
    for vaccine in range(vaccineDateStart, vaccineDateEnd):
        #print(vaccineDateStart, vaccineDateEnd)
        #print(vaccine)
        finaldf.at[vaccine_index, 'vaccinations'] = vaccine_share_list[vaccine]
        #finaldf.at[vaccine_index, 'vaccinations'] = 1
        vaccine_index += 1
    #print("\n")
    #print(vaccineDateStart, vaccineDateEnd)
    vaccineDateStart = vaccineDateEnd + 1
    vaccineDateEnd += vaccine_days + 1
        
finaldf

              date   fips           state      county  cases  vaccinations
0       2020-03-24   1001         Alabama     Autauga   0.14             0
1       2020-03-25   1001         Alabama     Autauga   0.57             0
2       2020-03-26   1001         Alabama     Autauga   0.86             0
3       2020-03-27   1001         Alabama     Autauga   0.86             0
4       2020-03-28   1001         Alabama     Autauga   0.86             0
...            ...    ...             ...         ...    ...           ...
2929347 2022-09-25  78030  Virgin Islands  St. Thomas   3.29             0
2929348 2022-09-26  78030  Virgin Islands  St. Thomas   3.29             0
2929349 2022-09-27  78030  Virgin Islands  St. Thomas   4.13             0
2929350 2022-09-28  78030  Virgin Islands  St. Thomas   4.13             0
2929351 2022-09-29  78030  Virgin Islands  St. Thomas   4.13             0

[2924071 rows x 6 columns]

In [82]:
df2

              Date   FIPS       Recip_County Recip_State  Series_Complete_Yes
0       2020-12-13   1001     Autauga County          AL                    0
1       2020-12-14   1001     Autauga County          AL                    0
2       2020-12-15   1001     Autauga County          AL                    0
3       2020-12-16   1001     Autauga County          AL                    0
4       2020-12-17   1001     Autauga County          AL                    0
...            ...    ...                ...         ...                  ...
1439335 2022-02-28  78030  St. Thomas Island          VI                23485
1439336 2022-03-01  78030  St. Thomas Island          VI                23500
1439337 2022-03-02  78030  St. Thomas Island          VI                23504
1439338 2022-03-03  78030  St. Thomas Island          VI                23514
1439339 2022-03-04  78030  St. Thomas Island          VI                23522

[1437105 rows x 5 columns]

## Merge cases and vaccines dataframe with the delta variant dataframe

In [83]:
df3

            Date Usa Or Hhsregion  Delta Prevalence
0     2021-06-12                1          0.048720
1     2021-06-13                1          0.078757
2     2021-06-14                1          0.108793
3     2021-06-15                1          0.138829
4     2021-06-16                1          0.168866
...          ...              ...               ...
996   2021-09-06              USA          0.995763
997   2021-09-07              USA          0.995940
998   2021-09-08              USA          0.996116
999   2021-09-09              USA          0.996293
1000  2021-09-10              USA          0.996469

[1001 rows x 3 columns]

In [84]:
df3[df3['Usa Or Hhsregion'] == 'USA']

            Date Usa Or Hhsregion  Delta Prevalence
910   2021-06-12              USA          0.263339
911   2021-06-13              USA          0.278953
912   2021-06-14              USA          0.294567
913   2021-06-15              USA          0.310182
914   2021-06-16              USA          0.325796
...          ...              ...               ...
996   2021-09-06              USA          0.995763
997   2021-09-07              USA          0.995940
998   2021-09-08              USA          0.996116
999   2021-09-09              USA          0.996293
1000  2021-09-10              USA          0.996469

[91 rows x 3 columns]

In [85]:
#below I create a Delta Prevalence column and put 0 as a place holder value
finaldf['Delta Prevalence'] = 0.0
finaldf

<ipython-input-85-00debd7e3e34>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finaldf['Delta Prevalence'] = 0.0

,date,fips,state,county,cases,vaccinations,Delta Prevalence
0,2020-03-24,1001,Alabama,Autauga,0.14,0,0.0
1,2020-03-25,1001,Alabama,Autauga,0.57,0,0.0
2,2020-03-26,1001,Alabama,Autauga,0.86,0,0.0
3,2020-03-27,1001,Alabama,Autauga,0.86,0,0.0
4,2020-03-28,1001,Alabama,Autauga,0.86,0,0.0
...,...,...,...,...,...,...,...
2929347,2022-09-25,78030,Virgin Islands,St. Thomas,3.29,0,0.0
2929348,2022-09-26,78030,Virgin Islands,St. Thomas,3.29,0,0.0
2929349,2022-09-27,78030,Virgin Islands,St. Thomas,4.13,0,0.0
2929350,2022-09-28,78030,Virgin Islands,St. Thomas,4.13,0,0.0
2929351,2022-09-29,78030,Virgin Islands,St. Thomas,4.13,0,0.0

In [86]:
#below I find the first and last date the delta prevalence was reported
all_delta_dates_array = df3['Date'].tolist()

#code below is to remove all duplicates 
delta_dates_array = list(dict.fromkeys(all_delta_dates_array))

first_delta_date = delta_dates_array[0]
last_delta_date = delta_dates_array[-1]

#below I get the index for the first date of delta prevalence of the finaldf
first_delta_index_list = finaldf.index[finaldf['date'] == first_delta_date]

#below I get the index for the last date of delta prevalence of the finaldf
last_delta_index_list = finaldf.index[finaldf['date'] == last_delta_date]
print(last_delta_index_list)

Int64Index([    535,    1465,    2375,    3289,    4208,    5126,    6045,
               6971,    7896,    8815,
            ...
            2920980, 2921858, 2922736, 2923612, 2924490, 2925368, 2926246,
            2927153, 2928060, 2928967],
           dtype='int64', length=3215)

In [87]:
last_delta_date

'2021-09-10'

In [88]:
df3[df3['Date'] == last_delta_date]

            Date Usa Or Hhsregion  Delta Prevalence
90    2021-09-10                1          0.996952
181   2021-09-10                2          0.997193
272   2021-09-10                3          0.997559
363   2021-09-10                4          0.995702
454   2021-09-10                5          0.997095
545   2021-09-10                6          0.996092
636   2021-09-10                7          0.998033
727   2021-09-10                8          0.998446
818   2021-09-10                9          0.997366
909   2021-09-10               10          0.997611
1000  2021-09-10              USA          0.996469

In [89]:
#below I create a list containing the names of the counties with what state the county is in to use as keys for the 
#dictionaries
regions_Array = []
regions_Array_temp = finaldf[['state', 'county']].apply(tuple, axis = 1).tolist()

#code below is to remove all duplicates 
regions_Array = list(dict.fromkeys(regions_Array_temp))

#below I take the regions array with the names of the counties with their state, which are tuples, and I make a list of 
#only the states, I could not do this before because the duplicate states would be removed, which is not ideal
delta_states = []

for a_tuple in regions_Array:
    delta_states.append(a_tuple[0])

#below I take the first state in the delta_states list, find what HHSRegion value it is (a number between 1-10) and 
#then initialize an array with that data
delta_prevalence_numbers_list = []

for state in delta_states:
    key = return_key_of_state(state)
    temp_list = df3.loc[df3['Usa Or Hhsregion'] == key, 'Delta Prevalence'].tolist()
    delta_prevalence_numbers_list.extend(temp_list)
print(len(delta_prevalence_numbers_list))

292565

In [90]:
#the code below is to start at the finaldf row where the data matches the first day of delta prevalence data, then 
#I take data one by one from the delta_prevalence_numbers_list and store it in the finaldf, I do this for the number of delta
#days
#below I calculate the number of days the delta variant is reported for
delta_days = last_delta_index_list[0] - first_delta_index_list[0]
delta_days += 1

#below I initialize the start and end date that will be used for the delta_prevalence_numbers_list with all of the delta data
deltaDateStart = 0
deltaDateEnd = delta_days

#the loop below is for the final dataframe, it starts at first date for delta prevalence data
for delta_index in first_delta_index_list:
    
    #the loop below is for the delta_prevalence_numbers_list that has the delta prevalence data
    for delta in range(deltaDateStart, deltaDateEnd):
        finaldf.at[delta_index, 'Delta Prevalence'] = delta_prevalence_numbers_list[delta]
        delta_index += 1
    
    deltaDateStart = deltaDateEnd
    deltaDateEnd += delta_days

In [91]:
first_delta_index_list

Int64Index([    445,    1375,    2285,    3199,    4118,    5036,    5955,
               6881,    7806,    8725,
            ...
            2920890, 2921768, 2922646, 2923522, 2924400, 2925278, 2926156,
            2927063, 2927970, 2928877],
           dtype='int64', length=3215)

In [92]:
deltaDateEnd

292656

In [93]:
delta_days

91

In [94]:
delta_days = last_delta_index_list[0] - first_delta_index_list[0]
delta_days += 1

#below I initialize the start and end date that will be used for the delta_prevalence_numbers_list with all of the delta data
deltaDateStart = 0
deltaDateEnd = delta_days
deltaDateEnd

91

In [95]:
len(delta_prevalence_numbers_list)

292565

In [96]:
finaldf

,date,fips,state,county,cases,vaccinations,Delta Prevalence
0,2020-03-24,1001,Alabama,Autauga,0.14,0,0.0
1,2020-03-25,1001,Alabama,Autauga,0.57,0,0.0
2,2020-03-26,1001,Alabama,Autauga,0.86,0,0.0
3,2020-03-27,1001,Alabama,Autauga,0.86,0,0.0
4,2020-03-28,1001,Alabama,Autauga,0.86,0,0.0
...,...,...,...,...,...,...,...
2929347,2022-09-25,78030,Virgin Islands,St. Thomas,3.29,0,0.0
2929348,2022-09-26,78030,Virgin Islands,St. Thomas,3.29,0,0.0
2929349,2022-09-27,78030,Virgin Islands,St. Thomas,4.13,0,0.0
2929350,2022-09-28,78030,Virgin Islands,St. Thomas,4.13,0,0.0
2929351,2022-09-29,78030,Virgin Islands,St. Thomas,4.13,0,0.0

In [97]:
#finaldf[finaldf["state"] == 'New Jersey'][14950:14970]
finaldf[(finaldf["state"] == 'Wyoming') & (finaldf["county"] == 'Weston')][305:320]

,date,fips,state,county,cases,vaccinations,Delta Prevalence
2855764,2021-03-28,56045,Wyoming,Weston,0.08,1093,0.0
2855765,2021-03-29,56045,Wyoming,Weston,0.08,1183,0.0
2855766,2021-03-30,56045,Wyoming,Weston,0.08,1183,0.0
2855767,2021-03-31,56045,Wyoming,Weston,0.13,1184,0.0
2855768,2021-04-01,56045,Wyoming,Weston,0.22,1212,0.0
2855769,2021-04-02,56045,Wyoming,Weston,0.22,1213,0.0
2855770,2021-04-03,56045,Wyoming,Weston,0.22,1214,0.0
2855771,2021-04-04,56045,Wyoming,Weston,0.22,1251,0.0
2855772,2021-04-05,56045,Wyoming,Weston,0.23,1258,0.0
2855773,2021-04-06,56045,Wyoming,Weston,0.23,1258,0.0
2855774,2021-04-07,56045,Wyoming,Weston,0.86,1258,0.0
2855775,2021-04-08,56045,Wyoming,Weston,0.86,1258,0.0
2855776,2021-04-09,56045,Wyoming,Weston,0.75,1258,0.0
2855777,2021-04-10,56045,Wyoming,Weston,0.75,1259,0.0
2855778,2021-04-11,56045,Wyoming,Weston,0.75,1379,0.0

In [98]:
finaldf[(finaldf["state"] == 'New Jersey') & (finaldf["county"] == 'Warren')]

,date,fips,state,county,cases,vaccinations,Delta Prevalence
1632129,2020-03-17,34041,New Jersey,Warren,0.14,0,0.0
1632130,2020-03-18,34041,New Jersey,Warren,0.29,0,0.0
1632131,2020-03-19,34041,New Jersey,Warren,0.57,0,0.0
1632132,2020-03-20,34041,New Jersey,Warren,0.57,0,0.0
1632133,2020-03-21,34041,New Jersey,Warren,0.71,0,0.0
...,...,...,...,...,...,...,...
1633051,2022-09-25,34041,New Jersey,Warren,29.14,0,0.0
1633052,2022-09-26,34041,New Jersey,Warren,27.86,0,0.0
1633053,2022-09-27,34041,New Jersey,Warren,28.00,0,0.0
1633054,2022-09-28,34041,New Jersey,Warren,24.57,0,0.0
1633055,2022-09-29,34041,New Jersey,Warren,23.43,0,0.0

In [114]:
finaldf[finaldf['fips'] == 36998]

,date,fips,state,county,cases,vaccinations,Delta Prevalence
1715725,2020-03-01,36998,New York,New York City,0.14,0,0.0
1715726,2020-03-02,36998,New York,New York City,0.14,0,0.0
1715727,2020-03-03,36998,New York,New York City,0.29,0,0.0
1715728,2020-03-04,36998,New York,New York City,0.29,0,0.0
1715729,2020-03-05,36998,New York,New York City,0.57,0,0.0
...,...,...,...,...,...,...,...
1716663,2022-09-25,36998,New York,New York City,2283.86,0,0.0
1716664,2022-09-26,36998,New York,New York City,2199.71,0,0.0
1716665,2022-09-27,36998,New York,New York City,2168.00,0,0.0
1716666,2022-09-28,36998,New York,New York City,2136.86,0,0.0
1716667,2022-09-29,36998,New York,New York City,2080.29,0,0.0

# Use the code below to get data for a certain state and put it in a CSV
**This is the code that I used to create the CSVs for Joshua in the Teams "Data Collection" folder**

In [189]:
#use code below to get data for a certain state and put in a CSV
#simply change 'Texas' to the state you desire

#a_df = finaldf[finaldf.state == 'Texas']
#a_df.insert(6, 'population', ' ')
#a_df.insert(7, 'Masks Required', ' ')
#a_df.insert(8, 'Stay-at-home order', ' ')
#a_df.insert(9, 'School is in Person', ' ')
#a_df.insert(10, 'Indoor Dining Closed', ' ')
#a_df.to_csv('Desired_Data.csv', index=False)

In [190]:
#a_df

In [99]:
test1 = finaldf["fips"]

In [100]:
#find the number of counties in the finaldf dataframe
result = test1.drop_duplicates()
result

0           1001
920         1003
1850        1005
2760        1007
3674        1009
           ...
2924875    72151
2925753    72153
2926631    78010
2927538    78020
2928445    78030
Name: fips, Length: 3215, dtype: int32

In [115]:
#test2 = finaldf["date"]
#result2 = test2.drop_duplicates()
#result2
occur = (finaldf.groupby(['date']).size()).to_frame()
occur.rename(columns = {0: 'occurs'}, inplace=True)
occur1 = occur.reset_index()
occur1

          date  occurs
0   2020-01-21       1
1   2020-01-22       1
2   2020-01-23       1
3   2020-01-24       2
4   2020-01-25       3
..         ...     ...
978 2022-09-25    3215
979 2022-09-26    3215
980 2022-09-27    3215
981 2022-09-28    3215
982 2022-09-29    3215

[983 rows x 2 columns]

In [116]:
occur1[occur1['occurs'] == 3215]

          date  occurs
324 2020-12-10    3215
325 2020-12-11    3215
326 2020-12-12    3215
327 2020-12-13    3215
328 2020-12-14    3215
..         ...     ...
978 2022-09-25    3215
979 2022-09-26    3215
980 2022-09-27    3215
981 2022-09-28    3215
982 2022-09-29    3215

[659 rows x 2 columns]

In [120]:
#find the first date where every county has data reported, the counties do not report data on the same date, by finding
    #this date, I was able to know when to begin using the daily flows data
    #year-month-day
occur.occurs.eq(3215).idxmax()

Timestamp('2020-12-10 00:00:00')

In [121]:
occur1.occurs.eq(3215).idxmax()

324

In [122]:
occur1[324:]

          date  occurs
324 2020-12-10    3215
325 2020-12-11    3215
326 2020-12-12    3215
327 2020-12-13    3215
328 2020-12-14    3215
..         ...     ...
978 2022-09-25    3215
979 2022-09-26    3215
980 2022-09-27    3215
981 2022-09-28    3215
982 2022-09-29    3215

[659 rows x 2 columns]

In [123]:
finaldf[finaldf['date'] == '2020-12-10']

,date,fips,state,county,cases,vaccinations,Delta Prevalence
261,2020-12-10,1001,Alabama,Autauga,41.86,0,0.0
1191,2020-12-10,1003,Alabama,Baldwin,135.29,0,0.0
2101,2020-12-10,1005,Alabama,Barbour,6.29,0,0.0
3015,2020-12-10,1007,Alabama,Bibb,15.29,0,0.0
3934,2020-12-10,1009,Alabama,Blount,63.14,0,0.0
...,...,...,...,...,...,...,...
2925094,2020-12-10,72151,Puerto Rico,Yabucoa,2.14,0,0.0
2925972,2020-12-10,72153,Puerto Rico,Yauco,7.29,0,0.0
2926879,2020-12-10,78010,Virgin Islands,St. Croix,7.75,0,0.0
2927786,2020-12-10,78020,Virgin Islands,St. John,4.50,0,0.0
2928693,2020-12-10,78030,Virgin Islands,St. Thomas,5.75,0,0.0

In [124]:
occur1[320:325]

          date  occurs
320 2020-12-06    3214
321 2020-12-07    3214
322 2020-12-08    3214
323 2020-12-09    3214
324 2020-12-10    3215

In [125]:
unwanted_dates = occur1['date'][0:324]
unwanted_dates

0     2020-01-21
1     2020-01-22
2     2020-01-23
3     2020-01-24
4     2020-01-25
         ...
319   2020-12-05
320   2020-12-06
321   2020-12-07
322   2020-12-08
323   2020-12-09
Name: date, Length: 324, dtype: datetime64[ns]

In [126]:
#the last daily flow is for 2021-04-15, all of the data after this date I do not need, below is the row where the
    #date occurs
occur1['date'][450]

unwanted_dates2 = occur1['date'][451:]
unwanted_dates2

451   2021-04-16
452   2021-04-17
453   2021-04-18
454   2021-04-19
455   2021-04-20
         ...
978   2022-09-25
979   2022-09-26
980   2022-09-27
981   2022-09-28
982   2022-09-29
Name: date, Length: 532, dtype: datetime64[ns]

In [127]:
temp_paper_df = finaldf[~finaldf['date'].isin(unwanted_dates)]
temp_paper_df

,date,fips,state,county,cases,vaccinations,Delta Prevalence
261,2020-12-10,1001,Alabama,Autauga,41.86,0,0.0
262,2020-12-11,1001,Alabama,Autauga,41.14,0,0.0
263,2020-12-12,1001,Alabama,Autauga,39.86,0,0.0
264,2020-12-13,1001,Alabama,Autauga,42.14,0,0.0
265,2020-12-14,1001,Alabama,Autauga,40.86,0,0.0
...,...,...,...,...,...,...,...
2929347,2022-09-25,78030,Virgin Islands,St. Thomas,3.29,0,0.0
2929348,2022-09-26,78030,Virgin Islands,St. Thomas,3.29,0,0.0
2929349,2022-09-27,78030,Virgin Islands,St. Thomas,4.13,0,0.0
2929350,2022-09-28,78030,Virgin Islands,St. Thomas,4.13,0,0.0
2929351,2022-09-29,78030,Virgin Islands,St. Thomas,4.13,0,0.0

In [128]:
paper_df = (finaldf[~finaldf['date'].isin(unwanted_dates2)]).reset_index(drop=True)
paper_df.drop(['Delta Prevalence'], axis=1, inplace=True)
paper_df

              date   fips           state      county  cases  vaccinations
0       2020-03-24   1001         Alabama     Autauga   0.14             0
1       2020-03-25   1001         Alabama     Autauga   0.57             0
2       2020-03-26   1001         Alabama     Autauga   0.86             0
3       2020-03-27   1001         Alabama     Autauga   0.86             0
4       2020-03-28   1001         Alabama     Autauga   0.86             0
...            ...    ...             ...         ...    ...           ...
1213686 2021-04-11  78030  Virgin Islands  St. Thomas   2.91          7241
1213687 2021-04-12  78030  Virgin Islands  St. Thomas   2.57          7283
1213688 2021-04-13  78030  Virgin Islands  St. Thomas   2.75          7460
1213689 2021-04-14  78030  Virgin Islands  St. Thomas   2.75          7608
1213690 2021-04-15  78030  Virgin Islands  St. Thomas   3.71          7750

[1213691 rows x 6 columns]

In [129]:
occur = (paper_df.groupby(['date']).size()).to_frame()
occur.rename(columns = {0: 'occurs'}, inplace=True)
occur1 = occur.reset_index()
occur1

          date  occurs
0   2020-01-21       1
1   2020-01-22       1
2   2020-01-23       1
3   2020-01-24       2
4   2020-01-25       3
..         ...     ...
446 2021-04-11    3215
447 2021-04-12    3215
448 2021-04-13    3215
449 2021-04-14    3215
450 2021-04-15    3215

[451 rows x 2 columns]

In [130]:
occur1.index[occur1['occurs'] != 3215]

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            314, 315, 316, 317, 318, 319, 320, 321, 322, 323],
           dtype='int64', length=324)

In [131]:
#below I remove Puerto Rico, state FIPS is 72
unwanted_fips = []
for fips in result:
    if(str(fips)[:2] == '72'):
        unwanted_fips.append(fips)

In [132]:
len(unwanted_fips)

78

In [133]:
#we also decided to remove FIPS 15005 (Kalawao, Hawaii), 78010 (St. Croix, Virgin Islands), 
    #78020 (St. John, Virgin Islands), 78030 (St. Thomas, Virgin Islands) because we do not have daily flows
unwanted_fips.append(15005)
unwanted_fips.append(78010)
unwanted_fips.append(78020)
unwanted_fips.append(78030)
unwanted_fips

[72001,
 72003,
 72005,
 72007,
 72009,
 72011,
 72013,
 72015,
 72017,
 72019,
 72021,
 72023,
 72025,
 72027,
 72029,
 72031,
 72033,
 72035,
 72037,
 72039,
 72041,
 72043,
 72045,
 72047,
 72049,
 72051,
 72053,
 72054,
 72055,
 72057,
 72059,
 72061,
 72063,
 72065,
 72067,
 72069,
 72071,
 72073,
 72075,
 72077,
 72079,
 72081,
 72083,
 72085,
 72087,
 72089,
 72091,
 72093,
 72095,
 72097,
 72099,
 72101,
 72103,
 72105,
 72107,
 72109,
 72111,
 72113,
 72115,
 72117,
 72119,
 72121,
 72123,
 72125,
 72127,
 72129,
 72131,
 72133,
 72135,
 72137,
 72139,
 72141,
 72143,
 72145,
 72147,
 72149,
 72151,
 72153,
 15005,
 78010,
 78020,
 78030]

In [134]:
len(unwanted_fips)

82

In [135]:
paper_data_df = (paper_df[~paper_df['fips'].isin(unwanted_fips)]).reset_index(drop=True)
paper_data_df

              date   fips    state   county  cases  vaccinations
0       2020-03-24   1001  Alabama  Autauga   0.14             0
1       2020-03-25   1001  Alabama  Autauga   0.57             0
2       2020-03-26   1001  Alabama  Autauga   0.86             0
3       2020-03-27   1001  Alabama  Autauga   0.86             0
4       2020-03-28   1001  Alabama  Autauga   0.86             0
...            ...    ...      ...      ...    ...           ...
1185483 2021-04-11  56045  Wyoming   Weston   0.75          1379
1185484 2021-04-12  56045  Wyoming   Weston   0.86          1379
1185485 2021-04-13  56045  Wyoming   Weston   0.88          1380
1185486 2021-04-14  56045  Wyoming   Weston   1.00          1392
1185487 2021-04-15  56045  Wyoming   Weston   1.00          1392

[1185488 rows x 6 columns]

In [136]:
#make sure I removed Puerto Rico correctly 
paper_data_df[paper_data_df['state'] == 'Puerto Rico']

Empty DataFrame
Columns: [date, fips, state, county, cases, vaccinations]
Index: []

In [137]:
#test to make sure I removed the 4 other counties correctly
paper_data_df[paper_data_df['fips'] == 78030]

Empty DataFrame
Columns: [date, fips, state, county, cases, vaccinations]
Index: []

In [138]:
paper_data_df.insert(6, 'population', 0)
paper_data_df.to_csv('Paper_Data_avg_cases_with_New_York_City.csv', index=False)

In [140]:
test2 = paper_data_df["fips"]
result2 = (test2.drop_duplicates()).to_list()
len(result2)

3133

In [143]:
paper_data_df[paper_data_df['fips'] == 36998]

,date,fips,state,county,cases,vaccinations,population
711494,2020-03-01,36998,New York,New York City,0.14,0,0
711495,2020-03-02,36998,New York,New York City,0.14,0,0
711496,2020-03-03,36998,New York,New York City,0.29,0,0
711497,2020-03-04,36998,New York,New York City,0.29,0,0
711498,2020-03-05,36998,New York,New York City,0.57,0,0
...,...,...,...,...,...,...,...
711900,2021-04-11,36998,New York,New York City,3415.14,1782818,0
711901,2021-04-12,36998,New York,New York City,3380.43,1823908,0
711902,2021-04-13,36998,New York,New York City,3247.29,1867765,0
711903,2021-04-14,36998,New York,New York City,3247.00,1901552,0
711904,2021-04-15,36998,New York,New York City,3055.00,1933866,0

In [123]:
df2

              Date   FIPS       Recip_County Recip_State  Series_Complete_Yes
0       2020-12-13   1001     Autauga County          AL                    0
1       2020-12-14   1001     Autauga County          AL                    0
2       2020-12-15   1001     Autauga County          AL                    0
3       2020-12-16   1001     Autauga County          AL                    0
4       2020-12-17   1001     Autauga County          AL                    0
...            ...    ...                ...         ...                  ...
1441123 2022-02-28  78030  St. Thomas Island          VI                23485
1441124 2022-03-01  78030  St. Thomas Island          VI                23500
1441125 2022-03-02  78030  St. Thomas Island          VI                23504
1441126 2022-03-03  78030  St. Thomas Island          VI                23514
1441127 2022-03-04  78030  St. Thomas Island          VI                23522

[1436658 rows x 5 columns]

In [124]:
#below I get the vaccine data for counties I originally took out because we were missing case data but need it now for
    #the paper
    #9 counties we have daily flows for but not cases, vaccine & delta prevalence data â€“ 02060 (Bristol Bay, Alaska), 
    #02105 (Hoonah-Angoon Census Area, Alaska), 02164 (Lake and Peninsula Borough, Alaska), 02282 (Yakutat, Alaska), 
    #36005 (Bronx County, New York), 36047 (Kings County, New York), 36061 (New York County, New York), 
    #36081 (Queens County, New York), 36085 (Richmond County, New York)
#desired_counties = [2060, 2105, 2164, 2282, 36005, 36047, 36061, 36081, 36085]

In [125]:
#extraVaccinedf[extraVaccinedf['FIPS'] == 36085]
#paper_vaccine_df = (extraVaccinedf[extraVaccinedf['FIPS'].isin(desired_counties)]).reset_index(drop=True)

In [126]:
#paper_vaccine_df.drop(['index'], axis=1, inplace=True)
#paper_vaccine_df.rename(columns={'Date':'date', 'FIPS':'fips', 'Recip_County':'county', 'Recip_State':'state', 'Series_Complete_Yes':'vaccinations'}, inplace=True)
#paper_vaccine_df

           date   fips               county state  vaccinations
0    2020-12-13   2060  Bristol Bay Borough    AK             0
1    2020-12-14   2060  Bristol Bay Borough    AK             0
2    2020-12-15   2060  Bristol Bay Borough    AK             0
3    2020-12-16   2060  Bristol Bay Borough    AK             0
4    2020-12-17   2060  Bristol Bay Borough    AK             0
...         ...    ...                  ...   ...           ...
4018 2022-02-28  36085      Richmond County    NY        347738
4019 2022-03-01  36085      Richmond County    NY        347903
4020 2022-03-02  36085      Richmond County    NY        348086
4021 2022-03-03  36085      Richmond County    NY        348237
4022 2022-03-04  36085      Richmond County    NY        348387

[4023 rows x 5 columns]

In [215]:
#paper_vaccine_df[paper_vaccine_df['fips'] == 2060]

          date  fips               county state  vaccinations
0   2020-12-13  2060  Bristol Bay Borough    AK             0
1   2020-12-14  2060  Bristol Bay Borough    AK             0
2   2020-12-15  2060  Bristol Bay Borough    AK             0
3   2020-12-16  2060  Bristol Bay Borough    AK             0
4   2020-12-17  2060  Bristol Bay Borough    AK             0
..         ...   ...                  ...   ...           ...
442 2022-02-28  2060  Bristol Bay Borough    AK           906
443 2022-03-01  2060  Bristol Bay Borough    AK           906
444 2022-03-02  2060  Bristol Bay Borough    AK           906
445 2022-03-03  2060  Bristol Bay Borough    AK           906
446 2022-03-04  2060  Bristol Bay Borough    AK           910

[447 rows x 5 columns]

In [216]:
#paper_vaccine_df.to_csv('Paper_Vaccine_Data.csv', index=False)